<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.service.EmailDao">
	<resultMap type="com.service.EmailDto" id="EmailDaoResultMap">
		<id property="id" column="ID"/>
		<result property="rid" column="RID"/>
		<result property = "con"   column = "CONTENT" />
		<result property = "sdt"   column = "SENDTIME" />
		<result property = "st"   column = "STATUS" />
		<result property = "type"   column = "TYPE" />
	</resultMap>
    <select id="getEmail" parameterType="int" resultMap="EmailDaoResultMap">
    	select * from Email where ID=#{id}
    </select>
    
    <select id="getMyEmail" parameterType="int" resultMap="EmailDaoResultMap">
    	select * from Email where RID=#{rid} and STATUS=0;
    </select>
    
    <insert id="createEmail" parameterType="java.util.HashMap">
    	insert into Email (RID,CONTENT,SENDTIME,STATUS,TYPE) VALUES(#{rid},
    	#{con},#{sdt},#{st},#{type});
    	<selectKey keyProperty="id" resultType="int">SELECT @@IDENTITY AS id</selectKey>
    </insert>
    <update id="changeEmail" parameterType="java.util.HashMap">
    	update Email
		<set>
			<if test="rid != null">
	    		RID=#{rid},
	    	</if>
	    	<if test="con != null">
	    		CONTENT=#{con},
	    	</if>
	    	<if test="sdt != null">
	    		SENDTIME=#{sdt},
	    	</if>
	    	<if test="st != null">
	    		STATUS=#{st},
	    	</if>
	    	<if test="type != null">
	    		TYPE=#{type}
	    	</if>
		</set> 
    	<where>
    		<if test="id != null">
    			ID=#{id}
    		</if>
    	</where> 
    </update>
    <delete id="deleteEmail" parameterType="java.lang.Integer">
    	delete from Email where ID=#{id}
    </delete>
</mapper>